{% extends 'index.html' %}
{% block contenido %}
    <br>
    <div class="card text-center">
        <nav>
            <div class="nav nav-tabs card-header" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-solicitante"
                        type="button" role="tab" aria-controls="nav-home" aria-selected="true">Solicitante
                </button>
                <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-recibe"
                        type="button" role="tab" aria-controls="nav-profile" aria-selected="false">¿Quien recibe y
                    solución
                </button>
            </div>
        </nav>
        <div class="tab-content card-body" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-solicitante" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="alert alert-primary" role="alert">Datos del solicitante.</div>
                <input type="text" class="form-control" readonly="readonly"
                       value="Hora y fecha de llegada: {{ orden.fecha }}"><br>
                <input type="text" class="form-control" readonly="readonly" value="{{ orden.solicitante.nombre }}"><br>
                <input type="text" class="form-control" readonly="readonly" value="{{ orden.solicitante.cargo }}"><br>
                <input type="text" class="form-control" readonly="readonly" value="{{ orden.solicitante.unidad }}"><br>
                <input type="text" class="form-control" readonly="readonly"
                       value="{{ orden.solicitante.direccion }}"><br>
                <div class="alert alert-primary" role="alert">Datos de la Orden.</div>
                <div class="row" style="text-align: justify; padding-bottom: 20px">
                    <div class="col-sm-2">
                        ¿Quién Aprobó?
                    </div>
                    <div class="col-sm-4">
                        <input class="form-control" readonly="readonly" type="text" value="{{ orden.aprobado_por }}">
                    </div>
                    <div class="col-sm-2">
                        Tipo de dispositivo o servicio
                    </div>
                    <div class="col-sm-4">
                        <input class="form-control" readonly="readonly" type="text"
                               value="{{ orden.tipo_de_dispositivo.tipo_equipo }}">
                    </div>
                </div>

                <div class="alert alert-primary" role="alert">Detalles equipo o del requerimiento.</div>
                <textarea name="" readonly="readonly" id="" cols="30" rows="5" class="form-control"
                          style="resize: none">{{ orden.descripcion_del_problema }}</textarea>
                <br>
                <a href="/" class="btn btn-warning"><i class="bi bi-arrow-return-left"></i> Volver</a>
                    <a href="/reporte/{{ orden.numero }}" target="_blank" class="btn btn-danger"><i
                            class="bi bi-printer"></i> Imprimir</a>
            </div>
            <div class="tab-pane fade" id="nav-recibe" role="tabpanel" aria-labelledby="nav-profile-tab">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="alert alert-primary" role="alert">Datos Registrados por la unidad de Infraestructura
                        tecnológica.
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <label for="">Recibido por:</label>
                        </div>
                        <div class="col-sm-10">
                            <input type="text" required="required" name="recibido" {% if orden.estado %}
                                   value="{{ orden.receptor }}" readonly="readonly" {% endif %} class="form-control"
                                   placeholder="Quien recibe el dispositivo"><br>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-2">
                            <label for="">Autorizado por:</label>
                        </div>
                        <div class="col-sm-10">
                            <input type="text" required="required" name="autorizado" {% if orden.estado %}
                                   value="{{ orden.autorizado }}" readonly="readonly" {% endif %} class="form-control"
                                   placeholder="Quien autoriza"><br>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-2">
                            <label for="">Revisado y soporte por:</label>
                        </div>
                        <div class="col-sm-10">
                            <input type="text" required="required" name="revisado" {% if orden.estado %}
                                   value="{{ orden.revisado_por }}" readonly="readonly" {% endif %} class="form-control"
                                   placeholder="Quien realiza el soporte">
                        </div>
                    </div>
                    <br>
                    <div class="alert alert-primary" role="alert">Detalle técnico del problema o requerimiento y
                        descripción de la solución.
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <label for="recipient-name" class="col-form-label">Detalles del equipo o del requerimiento:</label>
                        </div>
                        <div class="col-sm-10">
                            <textarea required="required" class="form-control" {% if orden.estado %}
                                      readonly="readonly" {% endif %} name="detalles_del_equipo"
                                      id="detalles_del_equipo" cols="30"
                                      rows="2">{{ orden.detalles_del_equipo }}</textarea>
                        </div>
                    </div>
                    <br>
                    <textarea name="problema" required="required" id="" {% if orden.estado %}
                              readonly="readonly" {% endif %} cols="30" rows="3" class="form-control"
                              placeholder="Detalle tecnico del Problema"
                              style="resize: none">{{ orden.detalle_tecnico_del_problema }}</textarea><br>
                    <textarea name="solucion" required="required" id="" {% if orden.estado %}
                              readonly="readonly" {% endif %}  cols="30" rows="3" class="form-control"
                              placeholder="Descripción de la solución"
                              style="resize: none">{{ orden.descripcion_de_la_solucion }}</textarea><br>
                    <div class="row">
                        <div class="col-sm-2">
                            <label for="">Materiales Utilizados:</label>
                        </div>
                        <div class="col-sm-10">
                            <input type="text" required="required" name="materiales" {% if orden.estado %}
                                   value="{{ orden.materiales_utilizados }}" readonly="readonly" {% endif %}
                                   class="form-control" placeholder="Materiales utilizados para dar el soporte">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-2">
                            <label for="">Herramientas utilizadas:</label>
                        </div>
                        <div class="col-sm-10">
                            <input type="text" required="required" name="herramientas" {% if orden.estado %}
                                   value="{{ orden.herramientas_utilizadas }}" readonly="readonly" {% endif %}
                                   class="form-control" placeholder="Herramientas utilizados para dar el soporte">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-2">
                            <label for="">Tipo de Servicio:</label>
                        </div>
                        <div class="col-sm-10">
                            <input type="text" list="servicios" required="required" name="tipo_servicio"
                                    {% if orden.estado %} value="{{ orden.tipos_de_servicio }}"
                                   readonly="readonly" {% endif %} class="form-control"
                                   placeholder="Tipo de asistencia Técnica">
                            <datalist id="servicios">
                                <option value="Capacitación">
                                <option value="Desarrollo de Software">
                                <option value="Mantenimiento Preventivo">
                                <option value="Mantenimiento Correctivo">
                                <option value="Soporte a ERP">
                                <option value="Soporte Ofimático">
                                <option value="Soporte en Software">
                                <option value="Instalación de red">
                                <option value="Instalación de dispositivos">
                                <option value="Instalación de Aplicaciones">
                                <option value="Formateo de computadoras, Tablets, y dispositivos moviles">
                                <option value="Generación de informes">
                            </datalist>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-2">
                            <label for="">Quien realiza la entrega?:</label>
                        </div>
                        <div class="col-sm-10">
                            <input type="text" required="required" name="entregado" {% if orden.estado %}
                                   value="{{ orden.entregado_por }}" readonly="readonly" {% endif %}class="form-control"
                                   placeholder="Nombre de quien realiza la entrega">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-12">
                            <a href="/" class="btn btn-warning"><i class="bi bi-arrow-return-left"></i> Volver</a>
                            {% if not orden.estado %}
                                <button class="btn btn-primary" type="submit"><i class="bi bi-save"></i> Registrar
                                </button>
                            {% else %}
                                <a href="/reporte/sistemas/{{ orden.numero }}" target="_blank" class="btn btn-danger"><i
                                        class="bi bi-printer"></i> Imprimir</a>
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
